.env
.venv
data/
!configs/data/
__pycache__/
/sketchformer/
!models/sketchformer/
!models/sketchformer/**
!scripts/sketchformer/
dependencies/Anime2Sketch/
*.egg-info/
build/
dist/
weights/*
!weights/README.md
!weights/pretrained/
!weights/pretrained/.gitkeep
!weights/finetuned/
!weights/finetuned/.gitkeep
docs
weights/finetuned/
weights/pretrained/
models/sketchformer/__pycache__/
